rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
            // Capa 1: El Muro de Fuego
            // Bloqueamos la escritura completamente (el backend se encargará de escribir).
            allow write: if false;
            // Solo los usuarios autenticados pueden leer la base de datos.
            allow read: if request.auth != null;
        }
    }
}
